/* Resetting some default styles */
:root{
    --strong-color:#a52a2a;
    --background-color:#fffaf5;
    --lightEffect-color:#f4a460;
    --heading-text: 'Seogoe', sans-serif;
    --body-text: 'Verdana', sans-serif;
    --highlight-text: 'Fira Code', monospace;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:var(--body-text);
    background-color:var(--background-color);
    color:var(--strong-color);
    line-height:1.5;
}

h1,h2,h4,h5,h6{
    font-family:var(--heading-text);
    color:var(--strong-color);
}

h1{
    font-size:2.5rem;
    margin-bottom:1rem;
    width: 30%;
}

h2{
    font-size: 1.5rem;
    margin-bottom:1rem;
    margin-left: 2rem;
}

h3{
    font-family: var(--highlight-text);
    font-size:18pt;
    margin-bottom:1rem;
}

h4{
    font-family: var(--highlight-text);
    font-size: 1rem;
    color: var(--lightEffect-color);
    margin-bottom: 1rem;
}

header{
    padding:1rem;
    display: flex;
    justify-content: space-between;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35%;
    margin: 10px;
}

nav a{
    text-decoration: none;
    color: var(--strong-color);
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a:hover{
    background-color: var(--lightEffect-color);
    color: var(--background-color);
}

nav a.active{
    background-color: lightgray;
    color: var(--strong-color);
}

nav img{
    width: 50px;
    height: 50px;
    margin: 0 10px;
    mix-blend-mode: multiply;
}

#mobile-nav{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin: 10px auto;
    padding: 10px;

}

#showMenu{
    display: none;
    width: 100%;
    height: 60px;
    mix-blend-mode: multiply;
    color: var(--background-color);
    font-size: 1.5rem;
    font-family: var(--highlight-text);
    border-radius: 10px;
    text-align: center;
    margin: 10px auto;
}

/* Main content area */
main {
    padding: 3rem 1rem;
    width: 70%;
    margin: auto;
    /* justify-content: center; */
}

.about-container {
    background-color: #fff;
    border-radius: 10px;
    padding: 2rem;
    width: 100%;
    /* max-width: 800px; */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.about-container h2,
.about-container h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.about-container p,
.about-container ul {
    font-size: 12pt;
    line-height: 1.6;
    margin-top: 20px;
    margin-bottom: 20px;
}

.team-members {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.team-member {
    text-align: center;
    flex: 1;
}

.team-member img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.team-member h4 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.team-member p {
    font-size: 1rem;
    color: #555;
}

ul {
    list-style-type: none;
}

ul li {
    margin: 0.5rem 0;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 1rem;
    text-align: center;
    margin-top: 3rem;
}

@media screen and (max-width: 768px){
    header{
        display: flex;
        text-align: center;
        justify-content: space-between;
    }
    h1{
        font-size: 2.5rem;
        margin-bottom: 1rem;
        width: 50%;
    }
    nav{
        width: 15%;
        margin: 0;
    }
    nav a{
        width: 100%;
        margin: 0;
    }
    #mobile-nav{
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        align-items: flex-start;
        width: 100%;
        margin: 10px auto;
    }

    /* #mobile-nav {
        z-index: 1000;
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 350px;
        display: none;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        backdrop-filter: blur(50px);
        padding: 20px;
    } */

    #hideMenu{
        display: block;
        width: 100%;
        height: 60px;
        mix-blend-mode: multiply;
        color: var(--background-color);
        font-size: 1.5rem;
        font-family: var(--highlight-text);
        border-radius: 10px;
        text-align: center;
        margin: 10px auto;
    }
    #mobile-nav a{
        color: var(--strong-color);
        text-decoration: none;
        font-size: 18px;
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        width: 100%;
        height: 50px;
        padding: 10px;
        display: block;
        margin: 10px;
        transition: background-color 0.3s ease;
    }

    #showMenu{
        display: block;
    }
    .hideOnMobile{
        display: none;
    }

    main{
        width: 95%;
        padding: 5px;
        margin: auto;
    }
    .about-container{
        width: 100%;
        padding: 1rem;
    }   

    .about-container h2,
    .about-container h3 {
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
    }
    .about-container p,
    .about-container ul {
        font-size: 10pt;
        line-height: 1.4;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .team-member{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .team-member img {
        width: 80px;
        height: 80px;
        margin-bottom: 0.5rem;
    }
}
