:root{
    --strong-color:#a52a2a;
    --background-color:#fffaf5;
    --lightEffect-color:#f4a460;
    --heading-text: 'Seogoe', sans-serif;
    --body-text: 'Verdana', sans-serif;
    --highlight-text: 'Fira Code', monospace;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:var(--body-text);
    background-color:var(--background-color);
    color:var(--strong-color);
    line-height:1.5;
}

h1,h2,h4,h5,h6{
    font-family:var(--heading-text);
    color:var(--strong-color);
}

h1{
    font-size:2.5rem;
    margin-bottom:1rem;
    width: 30%;
}

h2{
    font-size: 1.5rem;
    margin-bottom:1rem;
    margin-left: 2rem;
}

h3{
    font-family: var(--highlight-text);
    font-size:18pt;
    margin-bottom:1rem;
}

h4{
    font-family: var(--highlight-text);
    font-size: 1rem;
    color: var(--lightEffect-color);
    margin-bottom: 1rem;
}

header{
    /* background-color:var(--lightEffect-color); */
    padding:1rem;
    /* text-align:center; */
    display: flex;
    justify-content: space-between;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35%;
    margin: 10px;
}

nav a{
    text-decoration: none;
    color: var(--strong-color);
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a:hover{
    background-color: var(--lightEffect-color);
    color: var(--background-color);
}

nav a.active{
    background-color: lightgray;
    color: var(--strong-color);
}

nav img{
    width: 50px;
    height: 50px;
    margin: 0 10px;
    mix-blend-mode: multiply;
}

#mobile-nav{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin: 10px auto;
    padding: 10px;

}

.active:hover{
    background-color: var(--lightEffect-color);
    color: var(--background-color);
}

main{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin: auto;
    width: 100%;
}

input[type="search"]{
    padding: 0.5rem;
    border: 1px solid var(--strong-color);
    border-radius: 10px;
    width: 95%;
    height: 60px;
    font-size: 1rem;
    padding: 10px;
}

#filtered-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:50px auto ;
    width: 70%;
}

#filtered-nav button{
    color: var(--background-color);
    background-color: var(--lightEffect-color);
    font-family: var(--highlight-text);
    border-radius: 20px;
    width: 13%;
    padding: 7px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.5s ease;
    font-size: 12pt;
}

.filter.active {
    background-color: grey;
    color: var(--lightEffect-color);
}

.albumTitle{
    margin-top: 100px;
    font-size: 3rem;
}

button{
    display: block;
    width: 15%;
    margin: 10px auto;
    height: 65px;
    font-size: 1.5rem;
    font-family: var(--highlight-text);
    border-radius: 30px;
    background-color: var(--lightEffect-color);
    border-style: none;
}

.popularRecipe, .asianRecipe, 
.africanRecipe, .americanRecipe{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:20px auto 100px auto;
    width: 100%;
    height: 500px;
    overflow-y:hidden;
    overflow-x: visible;
    scrollbar-width:thin;
    background-color: var(--background-color);
}

.recipe-card img{
    width: 300px;
    height: 200px;
    border-radius: 10px;
    display: block;
}

.recipe-card:hover{
    transform: scale(1.05);
    cursor: pointer;
    z-index: 2;
}

.recipe-card{
    /* display: flex; */
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    width: 400px;
    height: 430px;
    z-index: 1;
    margin: 0 10px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: var(--background-color);
    color: var(--strong-color);
    transition: transform 0.4s ease;
}

#recipe-content{
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 14px;
    color: var(--strong-color);
    background-color: transparent;
}

p{
    font-size: 10pt;
    margin: 10px 0px;
}

.down{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto;
    width: 100%;
}
.down p{
    font-size: 9pt;
    font-family: var(--highlight-text);
    font-style: oblique;
    color: var(--lightEffect-color);
    margin: 0;
    padding: 0;
}

.hidden{
    display: none;
}

footer {
    clear: both;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: auto;
    background-color: #000000;
}

footer span, footer p{
    color: var(--background-color);
    font-size: 1rem;
    font-family: var(--highlight-text);
    margin: 0;
    padding: 0;
}

#due-date{
    display: flex;
    justify-content: space-evenly;
    margin: 5px auto;
    padding: 30px;
    border-top: 1px solid var(--lightEffect-color);
    width: 90%;
}

#information{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    gap: 40px;
    /* justify-content: center; */
    width: 100%;
    padding: 14px;
}

#information p, #newsletter p{
    font-size: 11pt;
    font-family: var(--highlight-text);
    margin: 0;
    margin-bottom: 20px;
}

#information a{
    text-decoration: none;
    color: var(--strong-color);
    font-size: 11pt;
    /* padding: 0.5rem 1rem; */
    border-radius: 5px;
    font-size: 9pt;
    transition: background-color 0.3s ease;
}

#information a:hover{
    text-decoration: underline;
    color: var(--lightEffect-color);
}

#quick-links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 0px;
}

#newsletter{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 0px;
}

#newsletter input[type="email"]{
    padding: 0.5rem;
    border: 1px solid var(--strong-color);
    border-radius: 10px;
    width: 80%;
    height: 35px;
    font-size: 1rem;
    padding: 10px;
    position: relative;
}
#newsletter input[type="email"]:focus{
    outline: none;
    border-style: none;
}

#newsletter input[type="email"]::placeholder{
    color: var(--strong-color);
    font-family: var(--highlight-text);
    font-size: 1rem;
}
#newsletter button{
    display: block;
    /* position: absolute; */
    width: 10%;
    margin: 10px auto;
    height: 34px;
    font-size: 1rem;
    font-family: var(--highlight-text);
    border-radius: 1px;
    background-color: var(--lightEffect-color);
    border-style: none;
    /* top: 1224.5px; */
    /* right: 128px; */
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: background-color 1s ease;

}
#newsletter button:hover{
    background-color: var(--strong-color);
    color: var(--background-color);
    cursor: pointer;
    transform: scale(1.1);
    z-index: 2;
}

#showMenu{
    display: none;
}

@media screen and (max-width: 740px) {
    
        header{
            display: flex;
            text-align: center;
            justify-content: space-between;
        }
        h1{
            font-size: 2.5rem;
            margin-bottom: 1rem;
            width: 50%;
        }
        nav{
            width: 15%;
            margin: 0;
        }
        nav a{
            width: 100%;
            margin: 0;
        }
        #mobile-nav{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            align-items: flex-start;
            width: 100%;
            margin: 10px auto;
        }

        /* #mobile-nav {
            z-index: 1000;
            position: fixed;
            top: 0;
            right: 0;
            height: 100vh;
            width: 350px;
            display: none;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            backdrop-filter: blur(50px);
            padding: 20px;
        } */

        #hideMenu{
            display: block;
            width: 100%;
            height: 60px;
            mix-blend-mode: multiply;
            color: var(--background-color);
            font-size: 1.5rem;
            font-family: var(--highlight-text);
            border-radius: 10px;
            text-align: center;
            margin: 10px auto;
        }
        #mobile-nav a{
            color: var(--strong-color);
            text-decoration: none;
            font-size: 18px;
            font-family: 'Roboto', sans-serif;
            font-weight: 100;
            width: 100%;
            height: 50px;
            padding: 10px;
            display: block;
            margin: 10px;
            transition: background-color 0.3s ease;
        }

        #showMenu{
            display: block;
        }
        .hideOnMobile{
            display: none;
        }

        main{
            width: 100%;
            padding: 5px;
        }
        .popularRecipe, .asianRecipe,
        .africanRecipe, .americanRecipe{
            display: flex;
            width:100%;
            margin: auto;
            height: auto;
            overflow: hidden;
            flex-wrap: wrap;
        }
        .recipe-card{
            width: 46%;
            height: 465px;
            margin: 10px;
            box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
            border: 1px solid rgba(0, 0, 0, 0.2);
        }
        .recipe-card img{
            width: 100%;
            height: 200px;
        }
        #filtered-nav{
            flex-direction: rows;
            align-items: center;
            width: 85%;
            margin: auto;
            /* overflow-y: hidden; */
            /* scrollbar-width:thin; */
        }
        #filtered-nav button{
            width: 100%;
            margin: 10px;
            height: 40px;
            font-size: 11pt;
        }

        .albumTitle{
            margin-top: 200px;
            padding: 2rem;
        }

        footer{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
            height: auto;
        }

        #information{
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: auto auto;
            gap: 20px;
            /* justify-content: center; */
            width: 100%;
            padding: 14px;
        }   

        #information p, #newsletter p{
            font-size: 9pt;
            font-family: var(--highlight-text);
            margin: 0;
            margin-bottom: 20px;
        }

        #information a{
            font-size: 9pt;
            /* padding: 0.5rem 1rem; */
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }

        #information a:hover{
            text-decoration: underline;
            color: var(--lightEffect-color);
        }

        #due-date{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            margin: 5px auto;
            padding: 20px;
            border-top: 1px solid var(--lightEffect-color);
            width: 90%;
        }

        #newsletter button{
            position: absolute;
            width: 20%;
            margin: 10px auto;
            height: 35px;
            bottom: 2000px;
        }

        #load-more-btn{
            width: 45%;
            font-size: 1.1rem;
            height: 50px;
        }
}