/* temple mobile */
:root {
    --primary-color: grey;
    --secondary-color: white;
}

* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-color);
    font-weight: 400;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 0px 0px 30px 30px;
    /* box-shadow: 0 0 30px #333; */
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--secondary-color);
    position: fixed;
    width: 100%;
    z-index: 1000;
}

header,
main {
    margin: 0 auto;
}

h1 {
    font-weight: 400;
    color: peachpuff;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-style: oblique;
}

h2 {
    font-size: 2rem;
    grid-column: 1/4;
    font-weight: 400;
    padding: 10%;
    height: 70px;
    width: 100%;
    color: #fff;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-top: 70px;
    margin-bottom: 20px;

}

nav {
    justify-content: center;
    align-items: center;
}


nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    height: auto;
}

nav ul li,
.temple-card {
    transition: all 0.3s ease-in-out;
}


nav ul li {
    cursor: pointer;
    text-align: center;
    /* padding: 5px; */
    padding-top: 5px;
    height: 40px;
    width: 130px;
}

nav ul li a{
    text-decoration: none;
    font-weight: 100;
    font-size: 12pt;
    height: 40px;
    width: 100%;
    color: #000;
    font-family: 'Roboto', sans-serif;
    display: block; /* or flex if you want to align center */
    width: 100%;
    height: 100%;
    padding: 7px;
}

nav ul li a:hover {
    background-color: #f0c16a;
    color: #fff;
    font-weight: bold;
    border-radius: 20px 0px 20px 20px;
    margin: 0px 5px 0px 5px;
    transform: scale(1.1);
    padding: 5px;
}

nav img {
    height: 45px;
    width: 55px;
    border-radius: 20px;

}

#hamburger {
    display: block;
    position: absolute;
    top: 7px;
    right: 20px;
    z-index: 9999;
    /* mix-blend-mode:color-dodge; */
}


#mobile {
    z-index: 1000;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 350px;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    backdrop-filter: blur(50px);
    padding: 20px;
}

#mobile ul {
    width: 100%;
    padding: 0;
}

#mobile ul li:not(:first-child) {
    display: block;
    font-size: 18px;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    width: 90%;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
    height: 60px;

}

#mobile a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    width: 100%;
    height: 100%;
    padding: 15px;
    display: block;
}


#mobile ul li a:hover {
    background-color: #f0c16a;
}

#mobile ul li:hover {
    background-color: transparent;
    transform: scale(1.05);
    margin: 10px;
}

#mobile ul li:first-child {
    width: 60px;
    height: 80px;
}


#menu-Bar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#mobile img {
    width: 60px;
    height: 50px;
    /* mix-blend-mode: color-burn; */
}

.nav-item {
    display: none;
}


.active {
    color: yellow;
}

p {
    width: 100%;
    height: 20px;
    margin: 0px auto 10px auto;
    color: #fff;
    text-align: center;
}

strong {
    display: inline-block;
    width: 70px;
    text-align: right;
    margin-right: 5px;
    margin-left: 2px;
}

h3 {
    font-size: 1.5rem;
    font-weight: 100;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

main {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.temple-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0px auto 20px auto;
    text-align: center;
    height: auto;
    box-shadow: 5px 0 10px 4px rgba(24, 24, 24, 0.1);
    border-radius: 0px 0px 10px 10px;
}

.temple-card:hover {
    box-shadow: 0 0 10px 4px rgba(255, 255, 255, 0.2);
}

.temple-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: auto;
    padding: 10px;
    background-color: #c2bfbf;
}

footer p {
    margin: 5px 0;
}