/* temple-large */
@media (min-width: 740px) {
	header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

    nav{
        background-color: transparent;
        height: auto;
    }
	nav ul {
		justify-content: flex-end;
		flex-direction: row;
	}
	nav a {
		flex: 1 1 100%;
        padding: 1rem;
	}

    .hideOnMobile{
        display: block;
    }


    #mobile{
        display: none;
    }

    #hamburger{
        display: none;
        /*  */
    }


    main{
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 25px;
    }

    footer {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
        height: 60px;
        background-color: #c2bfbf;
    }
    
}