/* temple mobile */
:root {
    --primary-color: grey;
    --secondary-color: lightgray;
}

* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-color);
    font-weight: 400;
    height: 100vh;
}

header {
	display: flex;
	justify-content: space-between;
    align-items: center;
	padding: 20px;
	/* border: 1px solid rgba(0, 0, 0, 0.1); */
	box-shadow: 0 0 30px #333;
}

header,
main {
	margin: 0 auto;
}

h1{
    font-weight: 400;
    color: tan;
    font-family: 'Roboto', sans-serif;  
    text-align: center;
}

h2 {
	font-size: 2rem;
    grid-column: 1/4;
    font-weight: 100;
    padding: 10%;
    height: 70px;
    width: 100%;
    color: #fff;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

nav {
    justify-content: center;
    align-items: center;
}


nav ul {
	list-style: none;
	display: flex;
	flex-direction: column;
    height: auto;
}

nav ul li {
    /* padding: 5px; */
    width: 100%;
}

nav a {
	color: #fff;
	text-align: center;
	padding: 5px;
	text-decoration: none;
	font-size: 13pt;
    height: 50px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

nav a:hover {
	background-color: #eee;
	color: #000;
    /* height: 30px; */
}

nav img{
    height: 50px;
    width: 60px;
    mix-blend-mode: color-burn;
}

#hamburger{
    display: block;
}

#mobile{
    z-index: 1000;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 400px;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    backdrop-filter: blur(50px);
    padding: 20px;
}

#mobile ul {
    width: 100%;
    padding: 0;
}

#mobile li {
    width: 100%;
    text-align: left;
    padding: 15px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-width: 70%;
}

#mobile a {
    display: block;
    width: 70%;
    padding: 15px;
    font-size: 18px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
    transition: background 0.6s, color 0.3s;
}

#mobile a:hover {
    background-color: #f8c471; /* Light orange */
    color: #000;
    font-weight: bold;
}

#mobile li:first-child {
    border-bottom: none;
    mix-blend-mode: color-burn;
    background-color: rgba(132, 124, 124, 0.6);
    width: 60px;
    height: 70px;
}

#menu-Bar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#mobile img{
    width: 60px;
    height: 50px;
    mix-blend-mode: color-burn;
}

.hideOnMobile{
    display: none;
}


.active {
	color: yellow;
}


#para {
    font-size: 20pt;
    padding-top: 5px;
    color: #fff;
    width: 15%;
    font-family: 'Roboto', sans-serif;
}

main { 
    width: 90%;
    margin: 0 auto;
    display:flex; 
    flex-direction: column;
    grid-gap: 25px;
  }

figure{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
}

figure:hover{
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.2);
}

figure img{
        width: 100%;
        height: 250px;
}   

figcaption{
    font-size: 15pt;
    padding: 10px;
    text-align: center;
    color: #fff;
    width: 100%;
    border-radius: 0 0 10px 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: auto;
    padding: 10px;
    background-color: #c2bfbf;
}

footer p {
    margin: 5px 0;
}
